#info  {
	background: #EFB810;
	color: #ffd700;
	text-align: center;
	padding: 20px;
}
#info h3, h4{
	color: #0a1172;
}

#info .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.info-jugador {
	margin: 20px;
}
.info-jugador img{
	width: 180px;
	height: 180px;
	border-radius: 50%;
}

@media (min-width: 480px){
	.info-jugadores{
		width: 40%;
	}
}
@media (min-width: 1024px){
	.info-jugadores{
		width: auto;
	}
}