@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Muli', sans-serif;
}

header{
	width: 100%;
	height: 50px;
	background: #051094;
	color: #ffd700;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.contenedor{
	width: 98%;
	margin: auto;
	display: flex;
}

h1{
	float: left;
}

header .contenedor{
	display: table;
}

section{
	width: 100%;
	margin-bottom: 25px;
}

#BIENVENIDOS{
	text-align: center;
	color: #0a1172;
}

footer .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 25px; 
}

.copy {
	font-size: 20px;
}

.sociales{
	width: 100%;
	text-align: center;
	font-size: 28px;
}
.sociales a{
	color: #333;
	text-decoration: none;

}

@media (min-width: 768px){
	.sociales{
		width: auto;
	}
	footer .contenedor{
		justify-content: space-between;
	}
}

@media (min-width: 1024px){
	.contenedor{
		width: 1000px;
	}
}

div.contenedor1 {
top: 30px;
display: flex;
position: relative;
padding: auto;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: transparent;
max-width: 100%;

}
/*bottom: 40px*/

div.card {
width: 240px;
height: 240px;
text-align: center;
justify-content: center;
flex-wrap: wrap;
background-color: rgba(255, 255, 255, 0.3);
box-shadow: 5px 5px 5px #d2d2d2;
border-radius: 30%;
}


.botonBarra {
background-color:rgb(5,16,148,0.9);;
width: 100px;
height: 50px;
font-size: 14px;
color: rgb(255, 230, 0);
}

.botonBarra:hover{
    color:rgb(5,16,148,0.9);
    background-color: rgb(255, 187, 0);
  }

.boton {
	background-color:rgba(254, 254, 255, 0.9);;
	width: 50px;
	height: 25px;
	font-size: 14px;
	color: rgba(17, 25, 119, 0.9);
	}
.boton:hover{
		color:rgb(5,16,148,0.9);
		background-color: rgb(255, 187, 0);
	  }
